/* ESTILOS PARA LAS TARJETAS*/
/* Estilo para la tarjeta completa del libro */
.libro-recomendado {
    width: 280px;
    background-color: antiquewhite;
    border-radius: 12px;
    text-align: center;
    margin: 10px;
    padding-bottom: 10px; /* Añadimos un poco de espacio inferior */
    display: inline-block;
    vertical-align: top; /* Asegura que se alineen bien si tienen alturas diferentes */
}

/* Estilo para la imagen de portada del libro */
.libro-recomendado img {
    width: 100%;
    height: 280px;
    object-fit: contain;
    border-top-left-radius: 12px; /* Redondeamos solo las esquinas superiores de la imagen */
    border-top-right-radius: 12px;
}
 
/* Estilo para el título del libro */
.titulo-prod {
    font-size: 20px;
    font-weight: bold;
    padding: 0 10px; /* Evita que el texto largo toque los bordes */
}

/* Estilo para la descripción del libro */
.descripcion-prod {
    font-size: 14px;
    color: brown;
    padding: 0 10px; /* Evita que el texto largo toque los bordes */
}

/* Estilo para el botón de la tarjeta */
.boton1 {
    background-color: chocolate;
    color: whitesmoke;
    border: none;
    padding: 10px;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s; /* Animación suave solo para el color de fondo */
}

/* Efecto al pasar el ratón sobre el botón */
.boton1:hover {
    background-color: brown;
}
